.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  margin: 0;
  padding: 0;
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
  color: hsl(212, 23%, 69%);
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  box-sizing: border-box;
  min-width: 375px;
  max-width: 503px;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 1rem;
  overflow: hidden;
}

.container-bg-color {
  background-color: white;
}

.image {
  width: 100%;
  height: 16rem;
  background-image: url(./images/drawers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -15px center;

}

/* 
.image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
*/

.text {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.text h1 {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.text p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.footer-size {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.author {
  display: flex;
  align-items: center;
}

.social-media {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  min-height: 62px;
  background-color: hsl(217, 19%, 35%);
}

.social-media p {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.author img {
  border-radius: 50%;
  overflow: hidden;
  width: 45px;
  height: auto;
  margin-right: 1rem;
}

.icon-forward {
  justify-self: end;
  margin-left: auto;
  font-size: 15px;  
  padding: 10px;
  border-radius: 50%;
  overflow: hidden;
  transition: 
    transform .2s ease-in,
    box-shadow .2s ease-in;
}

/*div with social medias */
.icons-social-media {
  margin-left: 10px;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: hsl(210, 46%, 95%);
}

.icon-forward-style-non-active {
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
}

.icon-forward-active {
  background-color: hsl(214, 17%, 51%);
  color: hsl(210, 46%, 95%);
}

.icon-forward:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 10px 1px hsl(212, 23%, 69%);
}

/* utility classes */

.text-highlight {
  color: hsl(217, 19%, 35%);
}

.font-weight {
  font-weight: 700;
}

.letter-spaceing {
  letter-spacing: 1px;
}

/* desktop design */