
.icon-forward:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
